/* barlow-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"), url("../fonts/barlow-v12-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/barlow-v12-latin-500.woff2") format("woff2"), url("../fonts/barlow-v12-latin-500.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/barlow-v12-latin-600.woff2") format("woff2"), url("../fonts/barlow-v12-latin-600.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/barlow-v12-latin-700.woff2") format("woff2"), url("../fonts/barlow-v12-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fraunces-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fraunces-v30-latin-900.woff2") format("woff2"), url("../fonts/fraunces-v30-latin-900.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  margin: 0;
  font-family: "Barlow";
}

.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

#coff {
  padding-top: 44px;
}

.coff__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.coff__logo {
  max-width: 236px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.coff__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.coff__item + .coff__item {
  margin-left: 32px;
}

.coff__item {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #83888F;
}
.coff__item:active {
  color: #fff;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.coff__btn {
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url(../../img/mobile.svg);
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 700px) {
  .coff__btn {
    display: inline-block;
  }
  .coff__item {
    display: none;
  }
}
.us__content {
  padding-top: 44px;
  max-width: 1280px;
  background-image: url(../../img/coffees1.png);
  background-repeat: no-repeat;
  background-size: contain;
}

#coff {
  padding-top: 44px;
}

.coff__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.coff__logo {
  max-width: 236px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.coff__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.coff__item + .coff__item {
  margin-left: 32px;
}

.coff__item {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #83888F;
}
.coff__item:active {
  color: #fff;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.coff__btn {
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url(../../img/mobile.svg);
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 700px) {
  .coff__btn {
    display: inline-block;
  }
  .coff__item {
    display: none;
  }
}
.us__content {
  padding-top: 44px;
  max-width: 1280px;
  background-image: url(../../img/coffees1.png);
  background-repeat: no-repeat;
  background-size: contain;
}/*# sourceMappingURL=main.css.map */