#quality{
    background-color: #2C343E;
    padding: 88px 85px ;
    margin-bottom: 168px;
}
.box{
    display: none;
}
.quality__box{
    display: flex;
}
.quality__title{
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    margin-bottom: 32px;
}
.quality__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}
.quality__img{
    flex-shrink: 0;
    margin-top: -181px;
    padding-top: 0;
    max-width: 445px;
    margin-left: 125px;
    gap: 20px;
}
.quality__content{
    max-width: 540px;
}
@media screen and (max-width:1301px) {
    
    .quality__img{
        margin-left: 80px;
    }
}
@media screen and (max-width:1261px) {
    .quality__title{
        font-size: 38px;
        line-height: 46px;
    }
    .quality__text{
        font-size: 14px;
        line-height: 24px;
    }
    .quality__img{
        margin-left: 80px;
    }
}
@media screen and (max-width:1247px) {
    #quality{
        
        margin-top: 144px;
        padding-bottom: 0;
    }
    .quality__content{
        display: none;
    }
    .box{
        display: inline-block;
        text-align: center;
        margin: 0 auto;
    }
    .quality__img{
        display: none;
    }
    .quality__img1{
        margin-top: -240px;
        margin-bottom: 64px;
        flex-shrink: 0;
    }
    .quality__text1{
        max-width: 540px;
    }
    .quality__content1{
        margin: 0 auto;
        margin-bottom: 67px;
        // max-width: 573px;
    }
}